.case-item {
  text-align: center;
}

.case-item__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 9px;
  border: 1px solid $grey2;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 18px;
}

.case-item__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
  color: $darkgrey;
  margin-top: -20px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $grey;
}

.case-item--costs {
  grid-column: span 2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .case-item__number {
    font-size: 30px;
    line-height: 37px;
  }

  .case-item__description {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  .case-item--costs {
    font-size: 20px;
    line-height: 20px;
    grid-column: none;
    width: 174px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .case-item--costs {
    grid-column: span 2;
    width: auto;
  }

  .case-item__description {
    background-color: $lightgrey;
  }

  .case-item__description {
    background-color: $lightgrey;
  }
}
