.catalog {
  display: grid;
  list-style: none;
  padding: 0;
  row-gap: 20px;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 36px;
}

.catalog__img-container {
  grid-row: span 2;
  align-self: center;
  justify-self: end;
}

.catalog__name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.catalog__property {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.catalog__indicator {
  padding-left: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog {
    grid-template-columns: 1fr 1fr;
    row-gap: 141px;
    column-gap: 60px;
  }

  .catalog__item {
    background-color: $lightgrey;
    grid-template-columns: none;
    padding-bottom: 39px;
    padding-left: 39px;
    padding-right: 37px;
    position: relative;
    padding-top: 161px;
    align-items: end;
  }

  .catalog__img-container {
    grid-row: span 1;
    // align-self: center;
    justify-self: center;
    position: absolute;
    top: -46px;
  }

  .catalog__img-container--big {
    top: -73px;
  }

  .catalog__name {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    align-self: start;
  }

  .catalog__indicator {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 143px;
    column-gap: 80px;
  }

  .catalog__item {
    padding-bottom: 40px;
    padding-left: 39px;
    padding-right: 38px;
    padding-top: 162px;
    margin: 0;
  }
}
