.catalog-section {
  margin: 20px;
}

.catalog-section__list {
  display: grid;
  list-style: none;
  padding: 0;
  row-gap: 20px;
}

.catalog-section__item {
  background-color: $lightgrey;
  display: grid;
  grid-template-columns: 91px auto;

}

.catalog-section__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  padding-top: 30px;
  margin: 0;
  font-weight: 400;
  padding-left: 19px;
}

.catalog-section__description {
  grid-column: span 2;
  padding-left: 20px;
  padding-right: 33px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  margin-top: 18px;
  margin-bottom: 23px;
}

.catalog-section__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  grid-column: span 2;
  margin-bottom: 22px;
  margin-top: 19px;
}

.catalog-section__text {
  grid-column: span 2;
  padding-left: 20px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.catalog-section__img {
  text-align: right;
  padding-top: 24px;
}

@media (min-width: $tablet-width) {
  .catalog-section__title {
    font-size: 36px;
    line-height: 36px;
    grid-column: none;
  }

  .catalog-section__description {
    font-size: 16px;
    line-height: 24px;
    grid-column: none;
  }

  .catalog-section__text {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-section__img {
    text-align: right;
    padding-top: 24px;
    grid-row: span 4;
    width: 200px;
    height: 200px;
    grid-column: 3;
  }

  .catalog-section__item {
    background-color: $lightgrey;
    display: grid;
    grid-template-columns: none;
  }

  .catalog-section__link {
    grid-column: none;
  }
}
