.catalog {
  display: grid;
  list-style: none;
  padding: 0;
  row-gap: 20px;
}

.catalog__item {
  display: grid;
  margin-left: 20px;
    margin-right: 20px;
}

.сatalog__button {
  text-transform: uppercase;
  justify-content: center;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  height: 40px;
  cursor: pointer;
}

.catalog__name {
  text-transform: uppercase;
}

.catalog__property {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.catalog__indicator {
  padding-left: 0;
  // flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }

  .catalog__item {
    background-color: $lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
