.copyright {
  margin-left: 20px;
  margin-right: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $darkgrey;
  padding-top: 22px;
  padding-bottom: 22px;
  align-items: center;
}

.copyright__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  }

  .copyright__text {
  margin-right: 22px;
}

}
