.intro {
  position: relative;
  color: $white;
  text-align: center;
}

.intro__container {
  background-color: #62a539;
  padding-bottom: 162px;
  position: relative;
  margin-bottom: 138px;
  padding-top: 26px;

  &::before {
    content: "";
    display: block;
    height: 100%;
    background: url(../img/index-background-mobile.jpg) no-repeat center 0;
    background-size: auto 100%;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 280px;
    height: 270px;
    background: url("../img/index-can-mobile.png") no-repeat center 0;
    position: absolute;
    bottom: -135px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 27px;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}

.intro__slogan {
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  font-size: 14px;
}

.intro__link {
  margin: 0 20px 20px;
  padding: 11px 44px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
  color: $white;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }

  .intro__slogan {
    font-size: 20px;
    line-height: 20px;
  }

  .intro__link {
    font-size: 20px;
    line-height: 20px;
  }
}
