.main-footer__wrap {
  background-color: $lightgrey;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 33px;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .main-footer__wrap {
    display: flex;
    min-height: 147px;
    justify-content: space-between;
  }

  .main-footer__logo {
    padding: 0;
    margin: 0;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    background-color: #f2f2f2;
  }

  .main-footer__wrap {
    min-height: 149px;
    margin: 0 auto;
    // padding: 0;
    // margin: 0;
  }
}
