.main-header__logo-wrap {
  display: flex;
  position: relative;
  height: 65px;
}

.main-header__logo-text {
  background: url("../img/logo-text.svg") no-repeat;
  width: 101px;
  top: 23px;
  height: 18px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.main-header__logo {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr 471px;
    position: relative;
  }

  .main-header__logo {
    top: 26px;
    left: 30px;
    width: 174px;
    height: 52px;
    transform: none;
    position: absolute;
    margin: 0;
    z-index: 10;
  }

  .main-header__logo-mobile {
    display: none;
  }

  .main-header__logo-text {
    display: flex;
    background: url("../img/logo-tablet.svg") no-repeat;
    top: 26px;
    left: 30px;
    width: 174px;
    height: 52px;
    transform: none;
    position: static;
  }

  // .main-header__logo-wrap {
  //   display: flex;
  //   background: url("../img/logo-tablet.svg") no-repeat;
  //   top: 26px;
  //   left: 30px;
  //   width: 174px;
  //   height: 52px;
  // }
}

@media (min-width: $desktop-width) {
  .main-header {
    grid-template-columns: 1fr 720px;
  }

  .main-header__logo-text {
    background: url("../img/logo-desktop.svg") no-repeat;
    width: 202px;
    height: 59px;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }
}
