.main-footer__wrap {
  background-color: $lightgrey;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 33px;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .main-footer__wrap {
  display: flex;
  justify-content: space-around;
  min-height: 147px;
}

.main-footer__logo {
  padding: 0;
  margin: 0;
  align-items: center;
}
}

@media (min-width: $desktop-width) {
  .main-footer__wrap {
  min-height: 149px;
  // padding: 0;
  // margin: 0;
}
}

