.page {
  // &__body {
  //   margin-left: 20px;
  //   margin-right: 20px;
  // }
  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

@media (min-width: $tablet-width) {
  .page {
    &__title {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
