.page-catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.page-catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .page-catalog {
    margin-left: 30px;
    margin-right: 30px;
  }

  .page-catalog__title {
    margin-bottom: 163px;
    margin-top: 64px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog {
    margin-left: 110px;
    margin-right: 110px;
  }

  .page-catalog__title {
    margin-bottom: 165px;
    margin-top: 74px;
  }
}
