$sm: 320px;
$md: 768px;
$lg: 1200px;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Colors

$darkgrey: #444444;
$black: #111111;
$white: #ffffff;
$darkgrey2: #222222;
$green: #68b738;
$green2: #64a73d;
$lightgrey: #f2f2f2;
$grey: #eaeaea;
$lightgrey3: #e6e6e6;

// Form colors

$grey2: #cdcdcd;
$lightgrey2: #e7e7e7;

// Icons

$darkgrey3: #666666;

// Ð’uttons
$darkgreen: #5EAA2F;
